header
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 5px 10px;
    border-bottom: 1px solid silver;
    background: white;
    z-index: 2;
}
header button
{
	float: right;
	cursor: pointer;
	padding: 1px;
}
button.last
{
	margin-right: 20px
}
.console 
{
	margin-top: 40px;
}
.console div
{
	font-family: Calibri;
	font-size: 12pt;
	padding: 2px 5px 2px 2px;
	margin: 0px;
	margin-bottom: 1px;
}
.bleft {
	border-left: 5px solid silver;
}
.console div div img
{
	margin-right: 5px;
}
.console div div.message
{
	display: inline-block;
	border: none;
	width: 90%;
}
.console a
{
	color: #0086b3;
}
.console a.right {
	float: right;
	margin-right: 20px;
}
a:hover
{
	text-decoration: underline;
}
.min {
	color: rgb(21, 156, 219);
	cursor: pointer;
}
.min:hover {
	color: rgb(20, 20, 209);
}
.overview {
	border-left: none;
	display: inline;
}
.category {
	color: white;
	padding: 1px 5px;
	border-radius: 4px;
	margin-right: 10px;
}
.high {
	background: rgb(219, 26, 26);
}
.medium {
	background: rgb(224, 161, 26);
}
.low {
	background: rgb(143, 135, 128);
}
.hidden {
	display: none;
}
.hidden div .header {
	background: rgb(37, 121, 228);
	color: white;
	padding: 1px 5px;
	margin-right:10px;
	border-radius: 2px;
}